@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
}

body {
  background-color: var(--background);
}

:root {
  --primary: #0099cc;
  --secondary: #b9ddf1;
  --accent: #0099cc;

  --background: #f8f8f8;
  --background-secondary: #e0e9ed;

  --text: rgb(41, 41, 41);
  --text-secondary: rgb(79, 79, 79);

  --border: #cccccc; /* 밝은 테마의 기본 테두리 색상 */

  --extreme-light: #efefef;
}

.dark {
  --primary: #33cfff;
  --secondary: #03537f;
  --accent: #66a2b7;

  --background: #121212;
  --background-secondary: #1e3a47;

  --text: rgb(251, 251, 251);
  --text-secondary: rgb(190, 190, 190);

  --border: #666666; /* 다크 테마의 기본 테두리 색상 */

  --extreme-light: #1f1f1f;
}
