
.react-datepicker {
  border-color: var(--background) !important;
}
.react-datepicker__day:hover {
  background-color: var(--accent) !important;
  color: white !important;
}
.react-datepicker__month-container {
    width: 240px !important;
    background-color: var(--background) !important;
}
.react-datepicker__month-text {
  height: 36px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(--text) !important;
}
.react-datepicker__month-text:hover {
  background-color: var(--background-secondary) !important;
  color: var(--text) !important;
}
.react-datepicker__month-text--selected,
.react-datepicker__month-text--keyboard-selected{
  background-color: var(--background) !important;
  color: var(--text) !important;
}
.react-datepicker__header {
  background-color: var(--background) !important;
  border-bottom: 1px solid var(--background) !important;
  align-items: center;
}
.react-datepicker__current-month{
  margin-top: -1px !important;
  color: var(--text-secondary) !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  color: var(--text) !important;
}
.react-datepicker__day--today,
.react-datepicker__month-text--today {
  color: var(--primary) !important;
  background-color: var(--gray5) !important;
  border-radius: 4px !important;
}
.react-datepicker__day--outside-month {
  color: var(--gray3) !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: var(--background-secondary) !important;
}
.react-datepicker__day--in-selecting-range {
  background-color: var(--background-secondary) !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: var(--background);
}
.react-datepicker__month-text--in-range, .react-datepicker__month-text--in-selecting-range  {
  background-color: var(--background-secondary) !important;
}
.react-datepicker__month-text--in-range:hover, .react-datepicker__month-text--in-selecting-range:hover {
  background-color: var(--accent) !important;
  color: white !important;
}